img{
    width: 100%;
}
.item{
    max-width: 500px;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 600px){
    .grid{
        display: grid;
        grid-template-columns: 1fr;
    }
}


